<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% block stylesheet %}{% endblock %}
        <style>body { font-size: 14px; }</style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #22541d;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('no_validator') }}">Vanilla</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="yaireoDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  YairEO
                </a>
                <div class="dropdown-menu" aria-labelledby="yaireoDropdownMenuLink">
                    <a class="dropdown-item" href="{{ url_for('yaireo') }}">Regex e-mail/URL validators (default)</a>
                    <a class="dropdown-item" href="{{ url_for('yaireo_builtin') }}">Built-in e-mail/URL validators</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="parsleyDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ParsleyJS
                </a>
                <div class="dropdown-menu" aria-labelledby="parsleyDropdownMenuLink">
                    <a class="dropdown-item" href="{{ url_for('parsley_regex') }}">Regex e-mail/URL validators</a>
                    <a class="dropdown-item" href="{{ url_for('parsley_builtin') }}">Built-in e-mail/URL validators (default)</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <div class="row d-flex justify-content-center">
            <div class="m-5 col-md-10">
                <div class="container">
                    <div class="row my-5" style="height: 25px;"><div class="col-sm-4"></div><div class="col-sm-8"><h1>{{ result | safe }}</h1></div></div>
                    <div class="row my-5"><div class="col-sm-4"></div><div class="col-sm-8"><h1>{{ message }}</h1></div></div>
                    {% block form %}
                        <form name="myform" method="POST">
                            {{ form.csrf_token }}
                            {% for field in form if field != form.csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-4">{{ field.label }}</div>
                                    <div class="col-sm-8">{{ field(size=20) }}</div>
                                </div>
                            {% endfor %}
                            <input type="submit" value="Validate">
                        </form>
                    {% endblock %}
                    <div class="row mt-2">
                    <div class="col-sm-1"><input type="button" value="Populate" name="button" onclick="form_populate()"></div>
                    <div class="col-sm-1"><input type="button" value="Clear" name="button" onclick="form_clear()"></div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/jquery-3.5.0.js') }}"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script>
            {% if log %}
                console.log({{ log | safe }});
            {% endif %}
        function form_populate() {
            document.getElementById('name').value = 'Ema Nymton';
            document.getElementById('email').value = 'example@google.com';
            document.getElementById('date').value = '1993-04-23';
            document.getElementById('nameCheck').value = 'Ema Nymton';
            document.getElementById('ipv4').value = '127.0.0.1';
            document.getElementById('ipv6').value = '2a03:2880:f11c:8083:face:b00c:0:25de';
            document.getElementById('ipv46').value = '2a03:2880:f11c:8083:face:b00c:0:25de';
            document.getElementById('length_range').value = 'abcd';
            document.getElementById('length_range_2').value = 'abcd';
            document.getElementById('mac').value = '11:22:33:44:55:66';
            document.getElementById('num_range').value = 5;
            document.getElementById('num_range_2').value = 5;
            document.getElementById('url').value = 'https://github.com/Aresius423/WTFormsValidation';
            document.getElementById('uuid').value = '07bd1b9a-1546-4348-981b-504b1914e3de';
            document.getElementById('anyof').value = '[bob]';
            document.getElementById('noneof').value = '[bob]by';
            document.getElementById('optional').value = '';
        }
        function form_clear() {
            document.getElementById('name').value = '';
            document.getElementById('email').value = '';
            document.getElementById('date').value = '';
            document.getElementById('nameCheck').value = '';
            document.getElementById('ipv4').value = '';
            document.getElementById('ipv6').value = '';
            document.getElementById('ipv46').value = '';
            document.getElementById('length_range').value = '';
            document.getElementById('length_range_2').value = '';
            document.getElementById('mac').value = '';
            document.getElementById('num_range').value = '';
            document.getElementById('num_range_2').value = '';
            document.getElementById('url').value = '';
            document.getElementById('uuid').value = '';
            document.getElementById('anyof').value = '';
            document.getElementById('noneof').value = '';
            document.getElementById('optional').value = '';
        }
        </script>
        {% block validatorscript %}{% endblock %}
    </body>
</html>
